{% extends 'base.html' %}

{% block content %}
<h2 class='pageTitle'>Habits</h2>

<button><a href="{%  %}">Logout</a></button>

<div class='habitsList'>

    {% for habit in habits %}
    <form class='habitForm'>
        <button type='submit' formaction="{% url 'habits_detail' pk=habit.pk %}">
            <div class='habit'>
                <h2>Habit: {{ habit.habit_title }}</h2>
                <p>Habit Amount: {{ habit.habit_amount }}</p>
                <p>Habit Target: {{ habit.habit_target }}</p>
            </div>
        </button>
    </form>
    {% endfor %}
</div>

<button class='newHabit'><a href="{% url 'habits_create' %}" style="text-decoration:none">Add a Habit</a></button>


{% endblock %}